span.z, a.z, button.z {
    all: unset;
    padding: 3px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 2px;
    display: inline-block;
    background-color: rgb(186, 237, 224);
    border-radius: 10px;
    border: solid 3px rgb(138, 50, 50);
    box-shadow: 1px 1px 3px black;
}
body {
    text-align: center;
    background-color: azure;
    user-select: none;
}
span.cim {
    background-color: rgb(176, 239, 239);
    color: rgb(15, 55, 80);
    border-color: rgb(20, 106, 78);
    box-shadow: 1px 1px 3px inset black;
}
a.z, button.z {
    color: rgb(14, 49, 68);
    text-decoration: wavy;
    cursor: pointer;
}
a.z:hover, button.z:hover {
    background-color: aquamarine;
}
a.z:active, button.z:active {
    background-color: rgb(238, 173, 230);
    box-shadow: 1px 1px 3px inset black;
}
h1 {
    color: rgb(17, 74, 74);
    text-shadow: 1px 1px 3px gray;
}
pre#p1 {
    display: inline-block;
    background-color: aqua;
    border:solid 10px rgb(69, 168, 193);
    padding: 15px;
    border-radius: 27px;
    box-shadow: 1px 1px 8px inset black;
}
#code {
    text-align: left;
    border-radius: 8px;
    box-shadow: 1px 1px 7px black;
    display: inline-block;
    padding: 20px;
}
i.i {
    color: rgb(52, 115, 133);
}
div.row {
    text-align: left;
    display: inline-block;
    background-color: rgb(175, 209, 216);
    border-radius: 16px;
    box-shadow: 1px 1px 3px inset black;
    border: solid 4px rgb(61, 122, 116);
    padding: 6px;
}