img {
    height: 9px;
    width: 55px;
    filter: invert(1);
}
a {
    text-decoration: none;
    color: aquamarine;
}
a:visited {
    color: rgb(94, 198, 163);
}
a:hover {
    color: rgb(224, 171, 171);
}
a:hover img {
    filter: 
        drop-shadow(1px 1px 7px white)
        invert(0) 
        contrast(115%)
        brightness(143%);
}
h1 {
    font-size: 19px;
    text-align: center;
    color: rgb(203, 210, 231);
    text-shadow: 1px 1px 1px rgb(54, 71, 97);
    padding: 0px;
    margin: 0px;
}

h3 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

h3 div {
    padding: 10px;
}

body {
    margin: 0px;
    margin-top: 15px;
    background-color: black;
    color: rgb(152, 174, 177);
    text-align: center;
    user-select: none;
}

div.c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px auto;
    padding: 0px;
    user-select: none;
    justify-content: center;
    box-shadow: 1px 1px 4px inset black;
}
div.c.old {
    background-color: rgb(0, 11, 15);
}

div.c div {
    background: transparent;
    font-family: 'Franklin Gothic Medium';
    font-size: 12px;
}

div.x {
    padding-top: 3px;
    padding-bottom: 0px;
}

u.k1 {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 13px;
}

td.bt {
    text-align: left;
    padding: 0px;
    border: none;
    color: rgb(238, 145, 145);
}

i:hover,
td.bt,
a.g:hover {
    color: rgb(216, 207, 97);
    cursor: pointer;
}

#code,
div.cx {
    margin: 5px auto;
    padding: 16px;
    font-size: 11px;
    text-align: left;
    display: inline-block;
    border: solid 1px rgb(166, 168, 158);
    border-radius: 7px;
    box-shadow: 1px 1px 3px inset black;
    color: rgb(201, 201, 176);
}

i,
a.g,
a.g:visited,
a.g:active,
b {
    font-weight: normal;
    font-style: normal;
    color: rgb(105, 141, 35);
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lucida Sans';
}

input {
    font-family: Verdana;
    font-size: 10px;
    border-radius: 2px;
    border: none;
    padding: 3px;
    padding-left: 8px;
    margin: 0px;
    box-shadow: 1px 1px 3px inset black;
    width: 190px;
    height: 13px;
}

input,
hr,
code#code {
    display: none;
}

#lny,
#fny,
.click,
.cx {
    cursor: pointer;
    user-select: none;
}

.break {
    flex-basis: 100%;
    height: 0px;
}

div#html {
    text-align: left;
    display: inline-block;
    font-family: Tahoma;
}

div#html h1 {
    color: rgb(216, 153, 153);
    font-size: 14px;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    text-shadow: 1px 1px 3px rgb(17, 16, 16);
}

div#html h2 {
    font-size: 11px;
    color: rgb(140, 194, 221);
    text-align: left;
    text-shadow: 1px 1px 3px black;
    font-weight: normal;
}

div#html ul {
    color: rgb(213, 216, 167);
    font-size: 10px;
}

div.cx {
    margin: 18px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(64, 104, 112);
}

.cx:hover {
    background-color: rgb(50, 80, 70);
}

div.cx p em {
    color: rgb(216, 153, 153);
    font-size: 14px;
}

div.c2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px auto;
    padding: 0px;
    user-select: none;
    grid-template-columns: 20% 40% 60%;
    justify-content: center;
}

a.ap {
    font-size: 13px;
    color: rgb(129, 167, 98);
}

span.bt,
i.md,
a.g {
    background-color: rgb(30, 46, 41);
    padding: 3px;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

span.active,
i.active {
    background-color: rgb(119, 118, 29);
    box-shadow: 1px 1px 4px inset black;
}

span.active i,
i.md.active {
    color: bisque;
}

i.md {
    padding: 5px;
    border-radius: 5px;
}

em {
    color: pink;
}

.cx h2+p {
    font-size: 10px;
    margin-top: -10px;
    color: rgb(107, 137, 151);
    text-align: right;
}

.nev {
    font-size: 13px;
}

div.tz {
    background-color: rgb(15, 62, 55);
    padding: 2px;
}

#fny,
#lny {
    font-size: 10px;
    text-shadow: 1px 1px 3px black;
    background-color: rgb(7, 62, 62);
    box-shadow: 0px 0px 3px rgb(209, 215, 215);
    padding: 2px;
}

#fny:hover,
#lny:hover {
    background-color: rgb(5, 107, 107);
    color: rgb(186, 184, 28);
}

#fny:active,
#lny:active {
    background-color: rgb(6, 159, 159);
    color: rgb(186, 184, 28);
}

table {
    width: 100%;
}

td {
    text-align: center;
}

td.b1,
td.b3 {
    width: 220px;
}

td.b1 {
    text-align: left;
}

td.b3 {
    text-align: right;
}

img.logo {
    width: 60px;
    height: 60px;
    filter: 
        invert(0)
        drop-shadow(1px 1px 7px white);
}

td.b1 a,
td.b3 a {
    background: transparent;
}

.hljs {
    overflow-x: auto;
    overflow-y: auto;
    max-width: 95%;
    border-radius: 10px;
}
code#code.hljs {
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - 480px);
    min-height: 160px;
    max-width: calc(90vh);
}
div#html h2 {
    font-size: 14px;
}

div#html ul {
    font-size: 12px;
}
strong {
    font-weight: normal;
    color: rgb(150, 211, 208);
    font-size: 10px;
}
@media (max-width: 500px) {
    #code {
        font-size: 10px;
    }
    strong {
        font-weight: normal;
        color: rgb(150, 211, 208);
        font-size: 9px;
    }
    .cx h2+p {
        font-size: 9px;
    }

    div#html h2 {
        font-size: 12px;
    }

    div#html ul {
        font-size: 10px;
    }

    .c2 {
        width: 440px;
        font-size: 11px;
    }

    .hljs {
        width: 440px;
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    #code {
        font-size: 9.5px;
    }
    strong {
        font-weight: normal;
        color: rgb(150, 211, 208);
        font-size: 8.5px;
    }
    div#html h2 {
        font-size: 11px;
    }

    div#html ul {
        font-size: 10px;
    }

    .c2 {
        width: 340px;
        font-size: 11px;
    }

    .hljs {
        width: 340px;
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    #code {
        font-size: 9px;
    }

    div#html h2 {
        font-size: 11px;
    }

    div#html ul {
        font-size: 9px;
    }

    .c2 {
        width: 270px;
        font-size: 10px;
    }

    .hljs {
        width: 270px;
        font-size: 10px;
    }
    strong {
        font-weight: normal;
        color: rgb(150, 211, 208);
        font-size: 8px;
    }
}

.bl {
    margin: 4px;
    box-shadow: 1px 1px 4px black;
}

code#code.language-json {
    background-color: rgb(12, 45, 34);
}

code.svelte {
    background-color: rgb(4, 37, 68);
}

a.bl3 {
    background-color: rgb(123, 54, 64);
    color: rgb(215, 178, 178);
}
a.bl3:hover {
    background-color: rgb(185, 57, 76);
    color: rgb(215, 178, 178);
}
a.bl3:active {
    background-color: rgb(186, 10, 37);
    color: rgb(215, 178, 178);
}
