h1 {
    text-align: center;
    color: rgb(203, 210, 231);
    text-shadow: 1px 1px 1px rgb(54, 71, 97);
}
body {
    background-color: rgb(12, 12, 12);
    color:rgb(152, 174, 177);
    text-align: center;
}
table {
    margin: 0 auto;
    user-select: none;
}
td {
    text-align: left;
    border-radius: 5px;
    border: solid 1px white;
    padding: 5px;
}
#code {
    margin: 10px auto;
    padding: 16px;
    text-align: left;
    display: inline-block;
    border: solid 1px white;
    border-radius: 4px;
    box-shadow: 1px 1px 3px inset black;
}
td.bt {
    color: rgb(238, 145, 145);
    cursor: pointer;
    background-color: rgb(14, 12, 56);
}
td.bt:hover {
    color: rgb(238, 182, 182);
}
