h1 {
    font-size: 25px;
    text-align: center;
    color: rgb(203, 210, 231);
    text-shadow: 1px 1px 1px rgb(54, 71, 97);
    padding: 0px;
    margin: 0px;
}

h3 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

h3 div {
    padding: 10px;
}

body {
    margin: 0px;
    margin-top: 15px;
    background-color: rgb(12, 12, 12);
    color: rgb(152, 174, 177);
    text-align: center;
}

div.c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px auto;
    padding: 0px;
    user-select: none;
    grid-template-columns: 20% 40% 60%;
    justify-content: center;
    background-color: rgb(60, 103, 140);
    box-shadow: 1px 1px 4px inset black;
}

div.c div {
    background-color: rgb(17, 31, 56);
    font-family: 'Franklin Gothic Medium';
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 3px;
    border-bottom: solid 0.5px white;
    border-top: solid 0.5px white;
}

div.x {
    padding-top: 7px;
    padding-bottom: 7px;
}

u.k1 {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 13px;
}

td.bt {
    text-align: left;
    padding: 5px;
    border: none;
    color: rgb(238, 145, 145);
    background-color: rgb(12, 38, 56);
}

i:hover, td.bt a:hover {
    color: rgb(216, 207, 97);
    cursor: pointer;
}

#code, div.cx {
    margin: 5px auto;
    padding: 16px;
    font-size: 11px;
    text-align: left;
    display: inline-block;
    border: solid 1px rgb(166, 168, 158);
    border-radius: 7px;
    box-shadow: 1px 1px 3px inset black;
    color: rgb(201, 201, 176);
}

i, a, a:visited, a:active, b {
    font-weight: normal;
    font-style: normal;
    color: rgb(105, 141, 35);
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lucida Sans';
}

td.active {
    border-radius: 6px;
    background-color: rgb(127, 126, 26);
    box-shadow: 1px 1px 4px inset black;
}

td.active i {
    color: bisque;
}

input {
    font-family: Haettenschweiler;
    font-size: 11px;
    border-radius: 6px;
    border: none;
    padding: 5px;
}

input, hr, pre {
    display: none;
}

#lny, #fny, .click, .cx {
    cursor: pointer;
    user-select: none;
}

.break {
    flex-basis: 100%;
    height: 0px;
}
div#html {
    text-align: left;
    display: inline-block;
    font-family: Tahoma;
}
div#html h1 {
    color: rgb(216, 153, 153);
    font-size: 14px;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    text-shadow: 1px 1px 3px rgb(17, 16, 16);
}

div#html h2 {
    font-size: 11px;
    color: rgb(140, 194, 221);
    text-align: left;
    text-shadow: 1px 1px 3px black;
    font-weight: normal;
}

div#html ul {
    color: rgb(213, 216, 167);
    font-size: 10px;
}
div.cx {
    margin: 18px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(36, 54, 58);
}
.cx:hover {
    background-color: rgb(50, 80, 70);
}
div.cx p em {
    color: rgb(216, 153, 153);
    font-size: 14px;
}
div.c2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px auto;
    padding: 0px;
    user-select: none;
    grid-template-columns: 20% 40% 60%;
    justify-content: center;
}
a.ap {
    font-size: 13px;
    color: rgb(129, 167, 98);
}
span.bt {
    background-color: rgb(30, 46, 41);
    padding: 3px;
    border-radius: 5px;
}