body {
	text-align: center;
	background-color: bisque;
}
h1 {
	color: rgb(27, 93, 71);
	text-shadow: 1px 1px 3px gray;
}
td {
  width: 30px;
  height: 30px;
  border: solid 0.1px rgb(227, 185, 107);
  font-size: 8px;
  background-color: rgb(248, 249, 237);
  color: rgb(119, 179, 193);
  cursor: default;
  box-shadow: 1px 1px 3px inset rgb(135, 133, 128);
}
td.x1 {
  background: url('bimg/b1.jpg');
}
td.x2 {
  background: url('bimg/b2.jpg');
}
td.x3 {
  background: url('bimg/b3.jpg');
}
td.x4 {
  background: url('bimg/b4.jpg');
}
td.x5 {
  background: url('bimg/b5.jpg');
}
td.x6 {
  background: url('bimg/b6.jpg');
}
td.x7 {
  background: url('bimg/b7.jpg');
}

td.xa {
  background-color: rgb(227, 185, 107);
  box-shadow: none;
  width: 2px;
  height: 2px;
}
table {
  user-select: none;
  border-spacing: 0px;
  margin: 10px auto;
  border: solid 7px rgb(227, 185, 107);
  border-radius: 6px;
  box-shadow: 1px 1px 7px rgb(101, 101, 101);
}
div.tb {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
div.next {
  width: 200px;
  text-align: left;
}
div.go {
  position: relative;
  top: -500px;
  left: 100px;
  font-size: 50px;
  color:rgb(98, 18, 18);
  text-shadow: 1px 1px 3px black;
  background-color: antiquewhite;
  filter: opacity(80%);
  border-radius: 20px;
  box-shadow: 1px 1px 4px black;
  border: solid 7px rgb(97, 39, 39);
  padding: 30px;
}
div.psz {
  position: relative;
  left: 100px;
  font-size: 25px;
  color:rgb(18, 75, 98);
  text-shadow: 1px 1px 3px black;
  background: url('bimg/psz.jpg');
  border-radius: 20px;
  box-shadow: 1px 1px 4px black;
  border: solid 7px rgb(52, 140, 172);
  padding: 10px;
}
div.next {
  padding-top: 10px;
  text-shadow: 1px 1px 3px gray;
  text-align: center;
  color:rgb(18, 75, 98);
}