@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto+Condensed:wght@300&display=swap');
body {
  background-color: rgb(212, 244, 244);
  text-align: center;
}
h1 {
  font-family: 'Caveat', cursive;
  font-size: 39px;
  color: rgb(16, 33, 53);
  text-shadow: 1px 1px 3px gray;
}
td {
  width: 30px;
  height: 30px;
  border: solid 0.1px rgb(227, 185, 107);
  font-size: 8px;
  background-color: rgb(248, 249, 237);
  color: rgb(119, 179, 193);
  cursor: default;
  box-shadow: 1px 1px 3px inset rgb(135, 133, 128);
}
td.x1 {
  background-color: rgb(118, 106, 44);
}
table {
  user-select: none;
  border-spacing: 0px;
  margin: 10px auto;
  border: solid 7px rgb(227, 185, 107);
  border-radius: 6px;
  box-shadow: 1px 1px 7px rgb(101, 101, 101);
}
div.al {
  display: inline-block;
  border: solid 0.1px rgba(224, 193, 193, .8);
  margin: 10px;
  cursor: grab;
  box-shadow: 1px 1px 3px black;
}
div.al0 {
  cursor: default;
}
div.al2, td.x2 {
  background-color: rgb(226, 163, 104);
  background-image: url('bimg/b1.jpg');
}
div.al3, td.x3 {
  background-color: rgb(171, 76, 234);
  background-image: url('bimg/b2.jpg');
}
div.al4, td.x4 {
  background-color: rgb(102, 151, 197);
  background-image: url('bimg/b3.jpg');
}
div.al5, td.x5 {
  background-color: rgb(86, 139, 11);
  background-image: url('bimg/b4.jpg');
}
div.al6, td.x6 {
  background-color: rgb(98, 234, 186);
  background-image: url('bimg/b5.jpg');
}
div.al7, td.x7 {
  background-color: rgb(157, 93, 28);
  background-image: url('bimg/b6.jpg');
}
div.al8, td.x8 {
  background-color: rgb(231, 108, 108);
  background-image: url('bimg/b7.jpg');
}
div.al9, td.x9 {
  background-color: rgb(229, 236, 167);
  background-image: url('bimg/b8.jpg');
}
button {
  cursor: pointer;
  color: rgb(43, 74, 124);
  background-color: rgb(238, 245, 172);
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px black;
  padding: 10px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(255, 217, 168);
  border-radius: 6px;
  box-shadow: 1px 1px 3px black;
}
button:active {
  cursor: pointer;
  background-color: rgb(251, 136, 121);
  border-radius: 6px;
  box-shadow: 1px 1px 1px black;
}
button.a {
  background-color: rgb(255, 170, 170);
}
button.a:hover {
  background-color: rgb(198, 168, 168);
}
i {
  color: rgb(159, 85, 85);
  font-style: normal;
}
.xc {
  display: inline-block;
  padding: 10px;
  padding-top: 20px;
  background-color: rgb(250, 216, 166);
  border: solid 9px rgb(243, 192, 97);
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgb(101, 101, 101);
}
a.svg {
  position: fixed;
  top: 0px;
  left: 80px;
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 0.9));
}
a.mli {
  position: fixed;
  top: 40px;
  right: 40px;
}
a.mli:hover img {
  box-shadow: 1px 1px 8px black;
}
a.mli:active img {
  border: solid 3px white;
  box-shadow: 1px 1px 3px inset black;
}
a.mli img {
  width: 200px;
  height: 200px;
  border-radius: 110px;
}
a.sob {
  all: unset;
  font-size: 10px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  color: rgb(32, 94, 94);
}
a.sob:hover {
  all: unset;
  font-size: 11px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  color: rgb(6, 61, 61);
}
b {
  margin: 2px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}